@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body.ogio-preview {
    margin: 0;
    padding: 0;
    background: #F0F2F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #673AB7;
    cursor: pointer;
}

#ogio_preview_wrapper {
    background-color: #F0F2F5;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}

.ogio-preview-fbbox {
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    border-radius: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    float: left;
}

.ogio-preview-top {
    height: 62px;
}

.ogio-preview-caption {
    padding: 10px 18px;
    font-size: 15px;
}

.ogio-preview-image {
    width: 1200px;
    height: 630px;
    background-color: #b1a5a5;
    overflow: hidden;
    position: relative;
    transform: scale(.41667);
    margin: -184px 0 -184px -350px;
    -webkit-transform: scale(.41667);
    -moz-transform: scale(.41667);
    -ms-transform: scale(.41667);
    -o-transform: scale(.41667);
    background-size: cover;
}

.ogio-preview-image img {
    position: absolute;
}

.ogio-preview-share-info {
    background-color: #F0F2F5;
    border-bottom: 1px solid #d9dbde;
    padding: 10px 15px;
    position: relative;
}

.preview-link-domain {
    display: inline-block;
    background: #e8e8e8;
    width: 180px;
    height: 16px;
    margin-bottom: 5px;
}

.preview-link-info-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjAhoPGgnbzSJVAAAA/UlEQVRIx+3VrQoCQRSG4VeLYBG0GIx212rwDvQO9Br0JkwGr2KjBpvJIML2RUzGDf6AYtMwFhlngj94ThDZb8sOzD7MnHNgIU2aRyqEJCSEVHS4A+b+HDTI0HIGQygHEw9Mnm/MatTjG3D+YvVV1JuiPja/myIDYs6ciOjLZyJg683fhJwMnGI4cnXIrgwsUweqXCw406nk3oLxu62flLlGyb7nNc43c2q4kHNtr89DKZdh7YENKdj0uJX8wiMPbMnBpcOpzODGAWsaYGy53WcfvBvsx++oQBUIKMtO2HGufOWIYSoDc4y9Pm8JpFXM0iPixJmYAUUpl+YfcgP7xo/psO/sqwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMi0yNlQyMzoyNjowOS0wODowMKioDRkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDItMjZUMjM6MjY6MDktMDg6MDDZ9bWlAAAAAElFTkSuQmCC');
    width: 30px;
    height: 30px;
    background-size: 20px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #e8e8e8;
    position: absolute;
    right: 14px;
    top: -14px;
    background-color: #fff;
}

.preview-link-title {
    background: #d2cfcf;
    height: 20px;
    margin-bottom: 8px;
}

.preview-link-description {
    background: #e2e2e2;
    height: 15px;
    margin-bottom: 3px;
}

.ogio-preview-bottom {
    height: 134px;
}

.ogio-preview-top,
.ogio-preview-bottom {
    background-size: cover;
}

.footer-small-disclaimer {
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
    margin: 10px 0;
    color: #908b8b;
    padding: 0 20px;
}

.next-step-direction {
    width: 570px;
    float: right;
}

.next-step-direction h3 {
    font-size: 22px !important;
    margin: 0 0 15px 0 !important;
    font-weight: 600;
}

.next-step-direction p {
    font-size: 15px !important;
    line-height: 1.8;
    letter-spacing: .2px;
}

.next-step-direction pre {
    margin: 0 0 15px 0 !important;
    padding: 15px !important;
    font-size: 14px !important;
    background: #fafafa;
    line-height: 1.2;
    color: #555;
    overflow: auto;
}

.next-step-direction ul {
    margin: 0 !important;
    padding: 0 !important;
}

.next-step-direction ul li {
    margin: 0 0 0 20px !important;
    line-height: 1.4;
}

.itsmereal-footer {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    font-size: 14px !important;
    padding: 20px !important;
}

.itsmereal-footer a {
    text-decoration: none !important;
}
